*{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Imagens/nuvens-no-ceu-com-sol-e-nuvens_896360-20939.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;  
}

.preencherCidade{
    margin: auto;
    margin-top: 5%;
    width: fit-content;
    padding: 5%;
    border-radius: 10px;
}

.titulo{
    text-align: center;
    color: white;
    background-color: deepskyblue;
}

.inputeEPesquisa{
    border-radius: 10px;
    border: 2px solid white;
    width: auto;
    display: flex;
}

.pesquisa{
    border: none;
    width: -webkit-fill-available;
    background-color: transparent;
}

.botaoPesquisa{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

::-webkit-input-placeholder {
    color: black;
    font-size: 15px;
}

.widgetInformacao1{
    display: grid;
    text-align: center;
    background-color: deepskyblue;
}

.Temperatura{
    font-size: 50px;
}

.maxEMin{
    display: flex;
    justify-content: space-evenly;
}

.umidadeEVento{
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
}

.unidadeMedida,
.unidadeMedida2{
    font-size: 25px;
    display: grid;
    justify-content: flex-end;
    margin-top: 1em;
}

.umidade,
.vento{
    border-radius: 10px;
    border: 2px solid white;
    padding: 3%;
    width: 40%;
}

.visibilidadeEPressao{
    border-radius: 10px;
    border: 2px solid white;
    padding: 3%;
    width: auto;
}

.unidadeMedida3{
    font-size: 25px;
    display: grid;
    justify-content: flex-end;
}
